i.nav-icon {
  font-size: 20px;
  cursor: pointer;
}

.nav-title {
  display: inline-block;
  float: right;
  margin: 0;
  width: 120px;
  padding-right: 5px;
  padding-bottom: 5px;
  text-align: right;
  border-bottom: 2px solid rgba(0,0,0,.87);
  /*font-size: 20px;*/    
}

.secondary {
  width: 70px;
  clear: both;
  border: none;
  margin-top: 5px;
}

.toggle-icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 28px;
  height: 30px;
}

.toggle-icon span:after,
.toggle-icon span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.toggle-icon span:after{
  top: 9px;
}
.toggle-icon span {
  position: relative;
  display: block;
  top: 9px;
}

.toggle-icon span,
.toggle-icon span:after,
.toggle-icon span:before {
  width: 100%;
  height: 5px;
  background-color: #1b1c1d;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
.toggle-icon.on span {
  background-color: transparent;
}
.toggle-icon.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle-icon.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
.toggle-icon.on + #menu {
  opacity: 1;
  visibility: visible;
}